* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}
/* Headers */
.header1 {
    background-color: #333;
    padding: 10px 20px;
    text-align: center;
    color: #ff6b6b;
}

.header2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 10px 15px;
    color: white;
}

.menu-button img{
    background-color: none;
    width: 35px;
    height: 35px;
}
.profile-button img{
    background-color: none;
    width: 35px;
    height: 35px;
}
.menu-button, .profile-button{
    background: none;
    border: none;
    cursor: pointer;
}
.menu-button {
    align-items: left;
}
.menuTab {
    position: relative;
    display: inline-block;
}
.menu-content {
    display: none;
    position: absolute;
    background-color: #555;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.menu-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.menu-content a:hover {
    background-color: #e2e1e1;
    color: #ff6b6b;
}
.menuTab:hover .menu-content {
    display: block;
}
.search-bar {
    flex-grow: 1;
    margin: 0 20px;
    display: flex;
}

.search-bar input {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
}
.right-buttons {
    display: flex;
    gap: 10px;
}

    
.navigation{
    background-color: #333;
    color: #fff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    position: fixed;
    height: 100%;
    width: 20%
}
.navigation h2{
    text-align: left;
    margin-bottom: 30px;
    font-weight: 100;
}

.navigation nav ul {
    list-style: none;
    /*display: flex;*/
    gap: 15px;
    margin: 0;
    padding: 0;
}
.navigation nav ul li{
    margin-top: 40px;
}
.navigation nav ul li a {
    color: rgb(214, 212, 212);
    text-decoration: none;
    font-weight: 100;
}

.navigation nav ul li a.active {
    color: #ff6b6b;
}
