* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f4;
}
/* Headers */
.header1 {
    background-color: #333;
    padding: 10px 20px;
    text-align: center;
    color: #ff6b6b;
}

.header2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 10px 15px;
    color: white;
}

.menu-button img{
    background-color: none;
    width: 35px;
    height: 35px;
}
.profile-button img{
    background-color: none;
    width: 35px;
    height: 35px;
}
.menu-button, .profile-button{
    background: none;
    border: none;
    cursor: pointer;
}
.menu-button {
    align-items: left;
}
.menuTab {
    position: relative;
    display: inline-block;
}
.menu-content {
    display: none;
    position: absolute;
    background-color: #555;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.menu-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.menu-content a:hover {
    background-color: #e2e1e1;
    color: #ff6b6b;
}
.menuTab:hover .menu-content {
    display: block;
}
.search-bar {
    flex-grow: 1;
    margin: 0 20px;
    display: flex;
}

.search-bar input {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
}
.right-buttons {
    display: flex;
    gap: 10px;
}
.dashCards{
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 20px;
}
.dashCards div{
    background-color: #cecccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
    text-align: center;
}
.dashCards div h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #555;
}
.dashCards div p {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 0 0;
}
.stats{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 20px;
}
.stats div{
    background-color: #cecccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
    text-align: center;
}
.stats div h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #555;
}
.repList{
    background-color: #cecccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
    text-align: center;
}